<footer
  class="bg-emerald-800 dark:bg-emerald-950 text-slate-100 font-comfortaa relative mt-96 h-max flex flex-col justify-center items-center"
>
  <figure
    class="h-60 absolute left-16 -top-24 xs:left-28 xs:-top-28 md:left-5 md:h-72 md:-top-36 lg:h-96 lg:left-16 xl:left-32"
  >
    <img
      src="assets/footer/cafe-happy.jpg"
      alt=""
      class="h-full w-full object-cover border-4 border-emerald-800 p-1 rounded-3xl dark:border-emerald-950"
    />
  </figure>
  <figure
    class="hidden md:block md:absolute md:-top-16 h-64 md:right-5 lg:right-24 xl:h-96 xl:right-36"
  >
    <img
      src="assets/footer/cookieeyes.jpg"
      alt=""
      class="h-full w-full object-cover rounded-3xl border-4 border-emerald-800 p-1 dark:border-emerald-950"
    />
  </figure>
  <div class="h-20 mt-40">
    <img
      src="assets/footer/logo-cutout.png"
      alt=""
      class="h-full w-full object-contain"
    />
  </div>
  <div class="text-center lg:mb-10">
    <h3 class="tracking-widest text-base md:text-2xl">Cafe Triangle</h3>
    <p class="text-sm">076-259-5626</p>
    <p class="text-sm">cafetriangle1&#64;gmail.com</p>
    <p class="text-sm">{{ "footer.LOCATION" | translate }}</p>
  </div>

  <ul
    class="flex justify-evenly items-center w-full text-xxs my-4 text-slate-300"
  >
    <li class="hover:text-slate-100">
      <a href="#about">{{ "navbar.ABOUT" | translate }}</a>
    </li>
    <li class="hover:text-slate-100">
      <a href="#menu">{{ "navbar.MENU" | translate }}</a>
    </li>
    <li class="hover:text-slate-100">
      <a href="#home">{{ "navbar.HOME" | translate }}</a>
    </li>
    <li class="hover:text-slate-100">
      <a href="#gallery">{{ "navbar.GALLERY" | translate }}</a>
    </li>
    <li class="hover:text-slate-100">
      <a href="#info">{{ "navbar.INFO" | translate }}</a>
    </li>
  </ul>

  <ul class="flex justify-end gap-4 text-xxs text-slate-400 mb-2">
    <li class="hover:text-slate-100">
      <a href="https://www.facebook.com/CafeTriangle1/">
        <i class="fab fa-facebook-square"></i>
      </a>
    </li>
    <li class="hover:text-slate-100">
      <a href="https://www.instagram.com/cafetriangle1/?hl=en">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="hover:text-slate-100">
      <a href="mailto:cafetriangle1@gmail.com">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li class="hover:text-slate-100">
      <a href="tel:+81076-259-5626">
        <i class="fas fa-phone"></i>
      </a>
    </li>
  </ul>
</footer>
