<section class="font-comfortaa mt-4">
  <header class="hero-header-container">
    <h1 class="hero-main-title">
      Cafe <span class="block md:inline">Triangle</span>
    </h1>
    <p class="hero-tagline-text" translate="hero.CAFE_SLOGAN"></p>
  </header>
  <figure class="hero-imgs-container">
    <article class="bg-sky-400 group hero-img-wrapper">
      <img
        src="assets/hero-imgs/flan.png"
        alt="photo of flan"
        class="hero-img"
      />
      <figcaption class="hero-figcaption top-0 right-3">Flan 600</figcaption>
    </article>
    <article class="bg-pink-400 group hero-img-wrapper">
      <img
        src="assets/hero-imgs/hortchata.png"
        alt="photo of horchata"
        class="hero-img"
      />
      <figcaption class="hero-figcaption top-0 right-4 hover:z-20">
        Horchata 500
      </figcaption>
    </article>
    <article class="bg-emerald-400 group hero-img-wrapper">
      <img
        src="assets/hero-imgs/matcha.png"
        alt="photo of terrine"
        class="hero-img"
      />
      <figcaption class="hero-figcaption top-1 left-1 -z-10">
        Matcha Terrine <span class="block">450</span>
      </figcaption>
    </article>
    <article class="bg-orange-400 group hero-img-wrapper">
      <img
        src="assets/hero-imgs/merranitos.png"
        alt="photo of cookies"
        class="hero-img"
      />
      <figcaption class="hero-figcaption top-1 right-1">
        Marranitos <span class="block text-right">300</span>
      </figcaption>
    </article>
    <article class="bg-yellow-400 group hero-img-wrapper">
      <img
        src="assets/hero-imgs/matcha latte.png"
        alt="photo of latte"
        class="hero-img"
      />
      <figcaption class="hero-figcaption top-1 left-1">
        Matcha Latte 500
      </figcaption>
    </article>
    <article class="bg-red-400 group hero-img-wrapper">
      <img
        src="assets/hero-imgs/tres leches cake.png"
        alt="photo of cake"
        class="hero-img"
      />
      <figcaption class="hero-figcaption top-1 left-2">
        Tres Leches <span class="block">700</span>
      </figcaption>
    </article>
  </figure>
</section>
