<section class="font-comfortaa mt-4">
  <header class="text-center py-4 relative lg:mt-10">
    <h1
      class="text-4xl text-slate-950 tracking-wide dark:text-slate-100 xs:text-4xl sm:text-5xl"
    >
      Cafe <span class="block md:inline">Triangle</span>
    </h1>
    <p
      class="text-slate-800 mx-auto dark:text-slate-200 text-xs border-x border-x-slate-300 w-max px-2 xs:px-6 pt-14 -mt-12 md:pt-10 md:-mt-10 dark:border-x-slate-600 sm:text-lg"
    >
      "Sharing our culture, one dessert at a time"
    </p>
  </header>
  <figure
    class="grid grid-cols-3 gap-2 px-2 my-4 mx-auto sm:mx-auto sm:w-4/5 md:w-full xl:w-5/6 2xl:w-4/5 relative"
  >
    <div
      class="h-28 bg-sky-400 p-4 rounded-md xs:h-32 sm:h-36 lg:h-52 dark:bg-opacity-60 hover:dark:bg-opacity-100 hover:scale-125 xs:hover:scale-150 duration-500 ease-in-out relative group hover:z-10 hover:-rotate-3"
    >
      <img
        src="assets/hero-imgs/flan.png"
        alt="photo of flan"
        class="object-contain h-full w-full"
      />
      <p
        class="absolute top-0 right-3 opacity-0 group-hover:opacity-100 transition-opacity duration-500 text-white text-xxs md:text-xl"
      >
        Flan 600
      </p>
    </div>
    <div
      class="h-28 bg-pink-400 p-4 rounded-md xs:h-32 sm:h-36 lg:h-52 dark:bg-opacity-60 hover:dark:bg-opacity-100 hover:scale-125 xs:hover:scale-150 duration-500 hover:rotate-6 relative group hover:z-50"
    >
      <img
        src="assets/hero-imgs/hortchata.png"
        alt="photo of horchata"
        class="object-contain h-full w-full"
      />
      <p
        class="absolute top-0 right-4 opacity-0 group-hover:opacity-100 transition-opacity duration-500 text-white text-xxs hover:z-20 md:text-xl"
      >
        Horchata 500
      </p>
    </div>
    <div
      class="h-28 bg-emerald-400 p-4 rounded-md xs:h-32 sm:h-36 lg:h-52 dark:bg-opacity-60 hover:dark:bg-opacity-100 hover:scale-125 xs:hover:scale-150 duration-500 hover:-rotate-6 relative group hover:z-30"
    >
      <img
        src="assets/hero-imgs/matcha.png"
        alt="photo of terrine"
        class="object-contain h-full w-full"
      />
      <p
        class="absolute top-1 left-1 opacity-0 group-hover:opacity-100 transition-opacity duration-500 text-white text-xxs -z-10 md:text-xl"
      >
        Matcha Terrine <span class="block">450</span>
      </p>
    </div>
    <div
      class="h-28 bg-orange-400 p-4 rounded-md xs:h-32 sm:h-36 lg:h-52 dark:bg-opacity-60 hover:dark:bg-opacity-100 hover:scale-125 xs:hover:scale-150 duration-500 hover:rotate-6 relative group hover:z-40"
    >
      <img
        src="assets/hero-imgs/merranitos.png"
        alt="photo of cookies"
        class="object-contain h-full w-full"
      />
      <p
        class="absolute top-1 right-1 opacity-0 group-hover:opacity-100 transition-opacity duration-500 text-white text-xs md:text-xl"
      >
        Marranitos <span class="block text-right">300</span>
      </p>
    </div>
    <div
      class="h-28 bg-yellow-400 p-4 rounded-md xs:h-32 sm:h-36 lg:h-52 dark:bg-opacity-60 hover:dark:bg-opacity-100 hover:scale-125 xs:hover:scale-150 duration-500 hover:-rotate-6 relative group hover:z-50"
    >
      <img
        src="assets/hero-imgs/matcha latte.png"
        alt="photo of latte"
        class="object-contain h-full w-full"
      />
      <p
        class="absolute top-1 left-1 opacity-0 group-hover:opacity-100 transition-opacity duration-500 text-white text-xxs md:text-xl"
      >
        Matcha Latte 500
      </p>
    </div>
    <div
      class="h-28 bg-red-400 p-4 rounded-md xs:h-32 sm:h-36 lg:h-52 dark:bg-opacity-60 hover:dark:bg-opacity-100 hover:scale-125 xs:hover:scale-150 duration-500 hover:rotate-6 relative group"
    >
      <img
        src="assets/hero-imgs/tres leches cake.png"
        alt="photo of cake"
        class="object-contain h-full w-full"
      />
      <p
        class="absolute top-1 left-2 opacity-0 group-hover:opacity-100 transition-opacity duration-500 text-white text-xxs md:text-xl"
      >
        Tres Leches <span class="block">700</span>
      </p>
    </div>
  </figure>
  <div
    class="text-slate-950 flex flex-col justify-center items-center text-center text-2xl dark:text-slate-100 sm:text-4xl mt-8"
  >
    <div>
      Life is for
      <div id="flip">
        <div class="pt-2">
          <div
            class="bg-emerald-500 px-4 rounded-md ml-1 pt-1 dark:bg-opacity-60"
          >
            having fun
          </div>
        </div>
        <div>
          <div class="bg-pink-500 px-4 rounded-md ml-1 dark:bg-opacity-60">
            trying new things
          </div>
        </div>
        <div>
          <div class="bg-purple-400 px-4 rounded-md ml-1 dark:bg-opacity-60">
            pursuing passions
          </div>
        </div>
      </div>
    </div>
    <p class="text-xs mt-4">COME LIVE LIFE WITH US HERE</p>
  </div>
</section>
