<nav class="font-comfortaa pt-5">
  <img
    src="assets/footer/logo-cutout.png"
    alt="Cafe Logo"
    class="mx-auto h-10"
  />
  <ul class="flex justify-evenly font-extralight text-xs mt-2 lg:text-base">
    <li class="gradient-text hover:scale-125 duration-500 py-1">
      <a href="#about">ABOUT</a>
    </li>
    <li class="gradient-text hover:scale-125 duration-500 py-1">
      <a href="#menu">MENU</a>
    </li>
    <li class="gradient-text hover:scale-125 duration-500 py-1">
      <a href="#home">HOME</a>
    </li>
    <li class="gradient-text hover:scale-125 duration-500 py-1">
      <a href="#gallery">GALLERY</a>
    </li>
    <li class="gradient-text hover:scale-125 duration-500 py-1">
      <a href="#info">INFO</a>
    </li>
  </ul>

  <div class="flex items-center justify-evenly px-14 my-4">
    <button
      class="flex text-slate-600 text-xs hover:scale-125 duration-500"
      (click)="onToggleDarkMode()"
    >
      Dark Mode
    </button>
    <ul class="flex justify-end gap-4 text-xs text-slate-600">
      <li class="hover:text-slate-700 hover:scale-110 duration-100">
        <a href="https://www.facebook.com/CafeTriangle1/" aria-label="Facebook">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li class="hover:text-slate-700 hover:scale-110 duration-100">
        <a
          href="https://www.instagram.com/cafetriangle1/?hl=en"
          aria-label="Instagram"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="hover:text-slate-700 hover:scale-110 duration-100">
        <a href="mailto:cafetriangle1@gmail.com" aria-label="Email">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <li class="hover:text-slate-700 hover:scale-110 duration-100">
        <a href="tel:+81076-259-5626" aria-label="Phone">
          <i class="fas fa-phone"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
