<header class="relative py-2 my-16">
  <h1 class="about-main-title" translate="about.ABOUT_TITLE"></h1>
</header>
<section class="about-info-container">
  @for (person of articles; track $index) {
  <article class="about-card-wrapper">
    <figure class="about-card-img-wrapper">
      <img
        [src]="person.imageSrc"
        alt="{{ person.jobTitle }}"
        class="about-card-img"
        [ngClass]="person.borderColor"
      />
      <figcaption class="about-img-caption" [ngClass]="person.backgroundColor">
        {{ person.jobTitle | translate }}
      </figcaption>
    </figure>
    <p class="about-name" [ngClass]="person.buttonColor">
      {{ person.name | translate }}
    </p>
    <div class="about-description" [ngClass]="person.borderColor">
      <p>{{ person.description | translate }}</p>
    </div>
  </article>
  }
</section>
<article class="about-specialization">
  <i class="fa-solid fa-circle-info text-red-500 md:text-4xl"></i>
  <p class="about-specialization-text" translate="about.SPECIALIZATION"></p>
  <div>
    <img src="assets/pngs/japan.png" alt="Japan flag" />
    <img src="assets/pngs/mexico.png" alt="Mexico flag" />
    <img
      src="assets/pngs/united-states.png"
      alt="United States of America flag"
    />
  </div>
</article>
<p class="about-footer-tagline" translate="about.ABOUT_TAGLINE"></p>
