<section class="h-max pb-10">
  <header
    class="border-y mb-6 relative py-5 border-y-slate-100 dark:border-y-slate-800 mt-16"
  >
    <h1
      class="font-comfortaa border-x px-4 pt-5 w-max mx-auto text-slate-800 dark:text-slate-100 border-x-slate-100 dark:border-x-slate-800 tracking-widest"
    >
      OUR MENU
    </h1>
  </header>
  <div
    id="indicators-carousel"
    class="relative md:w-90vw md:mx-auto lg:w-3/4"
    data-carousel="slide"
  >
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
        <img
          src="assets/menu-landing/bluecheesecake.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
          alt="..."
        />
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="assets/menu-landing/carnitas.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
          alt="..."
        />
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="assets/menu-landing/burritobowl.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
          alt="..."
        />
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="assets/menu-landing/bundtcake.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
          alt="..."
        />
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="assets/menu-landing/chocorolls.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
          alt="..."
        />
      </div>
    </div>
    <!-- Slider indicators -->
    <div
      class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2"
    >
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="0"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 3"
        data-carousel-slide-to="2"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 4"
        data-carousel-slide-to="3"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 5"
        data-carousel-slide-to="4"
      ></button>
    </div>
    <!-- Slider controls -->
    <button
      type="button"
      class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"
          />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button
      type="button"
      class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-next
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
  <section class="md:w-90vw md:mx-auto md:grid md:grid-cols-2 lg:w-3/4">
    <article class="grid grid-cols-5 w-90vw mx-auto mt-4 md:w-80 lg:w-full">
      <figure class="col-span-2">
        <img
          src="assets/menu-landing/bluecheesecake.jpg"
          alt=""
          class="h-full w-full object-cover rounded-md"
        />
      </figure>
      <div
        class="col-span-3 font-comfortaa flex flex-col justify-center px-2 text-slate-800 dark:text-slate-100"
      >
        <p
          class="text-xs font-bold tracking-widest mb-4 border-l-4 border-l-blue-400 pl-2"
        >
          Desserts
        </p>
        <p class="text-xxs mb-4">
          We offer over 12 dessert options for your sweet tooth! Many of them
          only available here in all of the Horukiru area.
        </p>
        <button
          class="border-2 border-blue-400 w-full rounded-sm py-1 bg-blue-400 text-slate-100 text-xs tracking-widest font-bold md:w-2/3"
        >
          See Menu
        </button>
      </div>
    </article>
    <article class="grid grid-cols-5 w-90vw mx-auto mt-4 md:w-80 lg:w-full">
      <div
        class="col-span-3 font-comfortaa flex flex-col justify-center px-2 text-slate-800 dark:text-slate-100"
      >
        <p
          class="text-xs font-bold tracking-widest mb-4 border-r-4 border-r-green-400 pr-2 text-right"
        >
          Food
        </p>
        <p class="text-xxs mb-4 text-right">
          Our speciality is Tex-Mex! We have 3 diferent burritos available.
          Chicken, Carnits, and Veggie. All three packed with flavor!
        </p>
        <button
          class="border-2 border-green-400 w-full rounded-sm py-1 bg-green-400 text-slate-100 text-xs tracking-widest font-bold md:w-2/3 md:ml-auto"
        >
          See Menu
        </button>
      </div>
      <figure class="col-span-2">
        <img
          src="assets/menu-landing/chickenburrito.jpg"
          alt=""
          class="h-full w-full object-cover rounded-md"
        />
      </figure>
    </article>
    <article class="grid grid-cols-5 w-90vw mx-auto mt-4 md:w-80 lg:w-full">
      <figure class="col-span-2">
        <img
          src="assets/menu-landing/drins.jpg"
          alt=""
          class="h-full w-full object-cover rounded-md"
        />
      </figure>
      <div
        class="col-span-3 font-comfortaa flex flex-col justify-center px-2 text-slate-800 dark:text-slate-100"
      >
        <p
          class="text-xs font-bold tracking-widest mb-4 border-l-4 border-l-amber-400 pl-2"
        >
          Drinks
        </p>
        <p class="text-xxs mb-4">
          We have all the tasty coffee based drinks you've come to know! Plus, a
          few extra special drinks for those who prefer something sweeter.
        </p>
        <button
          class="border-2 border-amber-400 w-full rounded-sm py-1 bg-amber-400 text-slate-100 text-xs tracking-widest font-bold md:w-2/3"
        >
          See Menu
        </button>
      </div>
    </article>
    <article class="grid grid-cols-5 w-90vw mx-auto mt-4 md:w-80 lg:w-full">
      <div
        class="col-span-3 font-comfortaa flex flex-col justify-center px-2 text-slate-800 dark:text-slate-100"
      >
        <p
          class="text-xs font-bold tracking-widest mb-4 border-r-4 border-red-400 pr-2 text-right"
        >
          Special
        </p>
        <p class="text-xxs mb-4 text-right">
          Be on the lookout for special desserts, drinks, and food! We love
          offering creative items based on the season or special holidays!
        </p>
        <button
          class="border-2 border-red-400 w-full rounded-sm py-1 bg-red-400 text-slate-100 text-xs tracking-widest font-bold md:w-2/3 md:ml-auto"
        >
          See Menu
        </button>
      </div>
      <figure class="col-span-2">
        <img
          src="assets/menu-landing/sakuratres.jpg"
          alt=""
          class="h-full w-full object-cover rounded-md"
        />
      </figure>
    </article>
  </section>
  <p
    class="font-comfortaa text-xs text-center text-slate-800 dark:text-slate-100 my-10"
  >
    WE HAVE A CHAIR READY FOR YOU!
  </p>
</section>
