<section class="h-max pb-10">
  <header class="relative py-5 my-6">
    <h1 class="menu-landing-title">
      <a routerLink="menu">{{ "menu-landing.MENU_TITLE" | translate }}</a>
    </h1>
  </header>
  <section class="menu-content-container">
    <article class="menu-category-wrapper">
      <figure class="col-span-2">
        <img
          src="assets/menu-landing/bluecheesecake.jpg"
          alt="blueberry cheesecake photo"
          class="menu-category-img"
        />
      </figure>
      <div class="menu-category-info-wrapper">
        <p
          class="text-xs font-bold tracking-widest mb-4 pl-2 lg:text-lg lg:border-l-0 lg:border-b-2 border-l-blue-400 lg:border-b-blue-400 border-l-4"
        >
          {{ "menu-landing.DESSERTS" | translate }}
        </p>
        <p class="text-xxs mb-4 2xl:text-base">
          {{ "menu-landing.DESSERTS_INFO" | translate }}
        </p>
        <button
          class="border-2 border-blue-400 w-full rounded-sm py-1 bg-blue-400 text-slate-100 text-xs tracking-widest font-bold md:w-2/3 lg:w-full"
          routerLink="menu"
        >
          {{ "menu-landing.SEE_MENU_BTN" | translate }}
        </button>
      </div>
    </article>
    <article class="menu-category-wrapper">
      <div class="menu-category-info-wrapper">
        <p
          class="text-xs font-bold tracking-widest mb-4 border-r-4 border-r-green-400 pr-2 text-right lg:text-lg lg:border-r-0 lg:border-b-2 lg:border-b-green-400"
        >
          {{ "menu-landing.FOOD" | translate }}
        </p>
        <p class="text-xxs mb-4 text-right 2xl:text-base">
          {{ "menu-landing.FOOD_INFO" | translate }}
        </p>
        <button
          class="border-2 border-green-400 w-full rounded-sm py-1 bg-green-400 text-slate-100 text-xs tracking-widest font-bold md:w-2/3 md:ml-auto lg:mb-2 lg:w-full"
          routerLink="menu"
        >
          {{ "menu-landing.SEE_MENU_BTN" | translate }}
        </button>
      </div>
      <figure class="col-span-2">
        <img
          src="assets/menu-landing/chickenburrito.jpg"
          alt="Chicken burrito photo"
          class="menu-category-img"
        />
      </figure>
    </article>
    <article class="menu-category-wrapper">
      <figure class="col-span-2">
        <img
          src="assets/menu-landing/drins.jpg"
          alt="row of drinks"
          class="menu-category-img"
        />
      </figure>
      <div
        class="col-span-3 font-comfortaa flex flex-col justify-center px-2 text-slate-800 dark:text-slate-100 xl:grid-column-2/2"
      >
        <p
          class="text-xs font-bold tracking-widest mb-4 border-l-4 border-l-amber-400 pl-2 lg:text-lg lg:border-l-0 lg:border-b-2 lg:border-b-amber-400"
        >
          {{ "menu-landing.DRINKS" | translate }}
        </p>
        <p class="text-xxs mb-4 2xl:text-base">
          {{ "menu-landing.DRINKS_INFO" | translate }}
        </p>
        <button
          class="border-2 border-amber-400 w-full rounded-sm py-1 bg-amber-400 text-slate-100 text-xs tracking-widest font-bold md:w-2/3 lg:w-full"
          routerLink="menu"
        >
          {{ "menu-landing.SEE_MENU_BTN" | translate }}
        </button>
      </div>
    </article>
    <article class="menu-category-wrapper">
      <div class="menu-category-info-wrapper">
        <p
          class="text-xs font-bold tracking-widest mb-4 border-r-4 border-red-400 pr-2 text-right lg:text-lg lg:border-r-0 lg:border-b-2 lg:border-b-red-400"
        >
          {{ "menu-landing.SPECIAL" | translate }}
        </p>
        <p class="text-xxs mb-4 text-right 2xl:text-base">
          {{ "menu-landing.SPECIALS_INFO" | translate }}
        </p>
        <button
          class="border-2 border-red-400 w-full rounded-sm py-1 bg-red-400 text-slate-100 text-xs tracking-widest font-bold md:w-2/3 md:ml-auto lg:mb-2 lg:w-full"
          routerLink="menu"
        >
          {{ "menu-landing.SEE_MENU_BTN" | translate }}
        </button>
      </div>
      <figure class="col-span-2">
        <img
          src="assets/menu-landing/sakuratres.jpg"
          alt="sakura tres leches cake"
          class="menu-category-img"
        />
      </figure>
    </article>
  </section>
</section>
<p class="menu-landing-footer-tagline">
  {{ "menu-landing.MENU_TAGLINE" | translate }}
</p>
