<section>
  <header class="mb-6 relative py-5 mt-8">
    <h1 class="info-landing-title">
      {{ "info-landing.INFO_TITLE" | translate }}
    </h1>
  </header>
  <section class="info-content-container">
    <article class="col-span-2 md:col-span-3">
      <a
        href="https://www.google.com/maps/place/Cafe+Triangle/@36.5575957,136.6388526,17z/data=!3m1!4b1!4m6!3m5!1s0x5ff8354ac7ff8b7b:0xff82a15aa06a45c7!8m2!3d36.5575914!4d136.6414275!16s%2Fg%2F11ny4yxtjn?entry=ttu"
        aria-label="Open Google maps for Cafe Triangle location"
      >
        <i class="fa-solid fa-map-pin text-lg animate-bounce text-red-500"></i>
      </a>
      <h2 class="font-bold tracking-widest xl:text-base">
        {{ "info-landing.ADDRESS" | translate }}
      </h2>
      <address class="xl:text-xs">
        {{ "info-landing.ADDRESS_INFO" | translate }}
      </address>
    </article>

    <article>
      <i class="fa-solid fa-clock text-lg"></i>
      <h2 class="font-bold tracking-widest text-xs xl:text-base">
        {{ "info-landing.HOURS" | translate }}
      </h2>
      <p class="xl:text-xs">{{ "info-landing.HOURS_INFO" | translate }}</p>
    </article>

    <article>
      <a href="tel:+81076-259-5626" aria-label="Call Cafe Triangle">
        <i class="fa-solid fa-phone text-lg animate-bounce text-blue-500"></i>
      </a>
      <h2 class="font-bold tracking-widest text-xs xl:text-base">
        {{ "info-landing.PHONE" | translate }}
      </h2>
      <address class="xl:text-xs">076-259-5626</address>
    </article>

    <article>
      <i class="fa-solid fa-utensils text-lg"></i>
      <h2 class="font-bold tracking-widest text-xs xl:text-base">
        {{ "info-landing.LUNCH" | translate }}
      </h2>
      <p class="xl:text-xs">{{ "info-landing.LUNCH_INFO" | translate }}</p>
    </article>

    <article>
      <i class="fa-solid fa-paw text-lg"></i>
      <h2 class="font-bold tracking-widest text-xs xl:text-base">
        {{ "info-landing.PETS" | translate }}
      </h2>
      <p class="xl:text-xs">{{ "info-landing.PETS_INFO" | translate }}</p>
    </article>

    <article>
      <i class="fa-solid fa-wifi text-lg"></i>
      <h2 class="font-bold tracking-widest text-xs xl:text-base">
        {{ "info-landing.EXTRAS" | translate }}
      </h2>
      <p class="xl:text-xs">{{ "info-landing.EXTRAS_INFO" | translate }}</p>
    </article>

    <article>
      <i class="fa-solid fa-seedling text-lg"></i>
      <h2 class="font-bold tracking-widest text-xs xl:text-base">
        {{ "info-landing.VEGAN" | translate }}
      </h2>
      <p class="xl:text-xs">{{ "info-landing.VEGAN_INFO" | translate }}</p>
    </article>
  </section>

  <!-- 
Image hover effect is based on a design from a CodePen user: knyttneve
Check out their work at: https://codepen.io/knyttneve
-->
  <section class="info-imgs-wrapper">
    <figure class="box relative">
      <img
        src="assets/info-landing/interiorcolorful.jpg"
        class="info-img"
        alt="image of store interior"
      />
      <figcaption
        class="absolute bottom-3 -left-9 -rotate-90 tracking-widest text-xs"
      >
        Interior
      </figcaption>
    </figure>

    <figure class="box relative">
      <img
        src="assets/info-landing/ankocookie.jpg"
        class="info-img"
        alt="dog eating a cookie"
      />
      <figcaption
        class="absolute tracking-widest text-xs -rotate-90 -left-9 bottom-3"
      >
        Animals
      </figcaption>
    </figure>

    <figure class="box relative">
      <img
        src="assets/info-landing/CafeInterior.jpg"
        class="info-img"
        alt="image of store interior"
      />
      <figcaption
        class="absolute tracking-widest text-xs -rotate-90 -left-9 bottom-3"
      >
        Interior
      </figcaption>
    </figure>

    <figure class="box relative">
      <img
        src="assets/info-landing/vegan.jpg"
        class="info-img"
        alt="store events"
      />
      <figcaption
        class="absolute tracking-widest text-xs -rotate-90 -left-8 bottom-2"
      >
        Events
      </figcaption>
    </figure>
  </section>
</section>
