<section class="gallery-landing-container">
  <header class="mb-6 relative py-5">
    <h1 class="gallery-main-title">
      <a routerLink="gallery">
        {{ "gallery-landing.GALLERY_TITLE" | translate }}
      </a>
    </h1>
  </header>
  <div class="gallery-imgs-wrapper">
    <div class="gallery-imgs-container">
      <h2 class="my-4 tracking-widest md:w-full md:mx-auto">
        <i class="fa-solid fa-caret-right text-blue-400"></i>
        {{ "gallery-landing.WONDERFUL_MOMENT" | translate }}
        <i class="fa-solid fa-caret-left text-blue-400"></i>
      </h2>
      <p class="text-center text-sm mb-4 lg:w-96 xl:ml-16">
        {{ "gallery-landing.WONDERFUL_DESCRIPTION" | translate }}
      </p>
      <button class="gallery-landing-btn" routerLink="gallery">
        {{ "gallery-landing.SEE_MORE_BTN" | translate }}
      </button>
    </div>
    <img
      src="assets/gallery-landing/higaki-moe.jpg"
      alt="Store owner with customer and pet"
      class="rounded-md h-auto mx-auto xs:h-52 hover:cursor-pointer"
      routerLink="gallery"
    />
  </div>
  <figure class="gallery-grid-wrapper">
    <img
      src="assets/gallery-landing/anko2.jpg"
      alt="Owner with dog friend"
      class="gallery-img"
      routerLink="gallery"
    />
    <img
      src="assets/gallery-landing/carnitastaco.jpg"
      alt="Carnitas taco"
      class="gallery-img md:hidden"
      routerLink="gallery"
    />
    <img
      src="assets/gallery-landing/mokothinking.jpg"
      alt="Cat holding coffee mug"
      class="gallery-img"
      routerLink="gallery"
    />
    <img
      src="assets/gallery-landing/kimonosun.jpg"
      alt="Owner wearing a kimono"
      class="gallery-img"
      routerLink="gallery"
    />
    <img
      src="assets/gallery-landing/wallcolorful.jpg"
      alt="Colorful wall design"
      class="gallery-img"
      routerLink="gallery"
    />
    <img
      src="assets/gallery-landing/chickentaco.jpg"
      alt="Chicken taco"
      class="gallery-img"
      routerLink="gallery"
    />
  </figure>
  <div class="gallery-description-wrapper">
    <div class="dark:text-slate-200">
      <h2 class="gallery-description-title">
        <i class="fa-solid fa-caret-right text-orange-400"></i>
        {{ "gallery-landing.LIFE_IN_COLOR" | translate }}
        <i class="fa-solid fa-caret-left text-orange-400"></i>
      </h2>
      <p class="gallery-description-text">
        {{ "gallery-landing.LIFE_IN_COLOR_DESCRIPTION" | translate }}
      </p>
    </div>
    <button class="gallery-landing-footer-btn" routerLink="gallery">
      {{ "gallery-landing.SEE_MORE_BTN" | translate }}
    </button>
  </div>
</section>
