<section
  class="h-max font-comfortaa w-90vw mx-auto flex flex-col dark:text-slate-100 text-slate-800"
>
  <header
    class="border-y mb-6 relative py-5 border-y-slate-100 dark:border-y-slate-800"
  >
    <h1
      class="font-comfortaa border-x px-4 pt-5 w-max mx-auto text-slate-800 dark:text-slate-100 border-x-slate-100 dark:border-x-slate-800 tracking-widest"
    >
      ABOUT US
    </h1>
  </header>
  <div class="">
    <img
      src="assets/gallery-landing/higaki-moe.jpg"
      alt=""
      class="rounded-md md:h-96 md:object-cover md:mx-auto"
    />
    <h2
      class="poppins-font text-center border-b-2 border-orange-400 my-4 tracking-widest md:w-1/2 md:mx-auto"
    >
      A Wonderful Moment
    </h2>
    <p class="poppins-font text-center text-sm mb-4">
      It's always a joyous time when our customers bring their lovely pets
      together to see us! Thank you!
    </p>
  </div>
  <figure
    class="grid gap-1 grid-cols-3 mx-auto xs:w-full sm:w-3/4 md:grid-cols-6 md:w-90vw lg:w-2/3 xl:w-2/4"
  >
    <img
      src="assets/gallery-landing/anko2.jpg"
      alt=""
      class="rounded-md h-36 xs:h-52 sm:h-64 md:h-52"
    />
    <img
      src="assets/gallery-landing/carnitastaco.jpg"
      alt=""
      class="rounded-md h-36 xs:h-52 sm:h-64 md:h-52"
    />
    <img
      src="assets/gallery-landing/mokothinking.jpg"
      alt=""
      class="rounded-md h-36 xs:h-52 sm:h-64 md:h-52"
    />
    <img
      src="assets/gallery-landing/kimonosun.jpg"
      alt=""
      class="rounded-md h-36 xs:h-52 sm:h-64 md:h-52"
    />
    <img
      src="assets/gallery-landing/wallcolorful.jpg"
      alt=""
      class="rounded-md h-36 xs:h-52 sm:h-64 md:h-52"
    />
    <img
      src="assets/gallery-landing/chickentaco.jpg"
      alt=""
      class="rounded-md h-36 xs:h-52 sm:h-64 md:h-52"
    />
  </figure>
  <h2
    class="poppins-font border-b-2 border-indigo-400 tracking-widest text-center my-4 md:w-1/2 md:mx-auto"
  >
    The little moments of life in color!
  </h2>
  <p class="poppins-font text-center text-sm mb-4">
    Life is about making wondeful memories with your family, your friends, your
    pets, or yourself. Go out and have a cookie!
  </p>
  <button
    class="poppins-font border-2 border-orange-400 w-max mx-auto text-slate-800 mt-2 px-4 py-2 rounded-md text-sm transform hover:scale-110 dark:text-slate-100"
  >
    <a routerLink="gallery">See More</a>
  </button>
</section>
