@defer {
<section class="h-max pb-10 mt-10">
  <div class="w-full text-center">
    <button
      class="text-xxs font-comfortaa text-slate-800 border p-2 rounded-md hover:bg-zinc-400 hover:dark:bg-zinc-100 hover:dark:text-slate-800 hover:text-slate-100 duration-500 dark:text-slate-100"
      routerLink=""
    >
      {{ "navbar.HOME" | translate }}
    </button>
  </div>

  <div class="gallery-page-container">
    <div class="grid gap-4">
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="bottom-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/chaimix.jpg"
          alt="Chai mix display"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/coconutcake.jpg"
          alt="Coconut cake on plate"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/marranitos.jpg"
          alt="Mexican marranitos cookies"
        />
      </div>

      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/higakismile.jpg"
          alt="Regular customer smiling"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/santatres.jpg"
          alt="Mexican tres leches cake santa version"
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/cornerlunch.jpg"
          alt="Corner table with lunch items"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/wallsun.jpg"
          alt="Entrance wall sun painting"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/santacupcake.jpg"
          alt="Santa version cupcake"
        />
      </div>

      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/pom.jpg"
          alt="Regular customers dog"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/browniematcha.jpg"
          alt="Matcha brownie on plate"
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/kaede.jpg"
          alt="Regular customers dog"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/browniematcha.jpg"
          alt="Matcha brownie"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/tiramisuwhole.jpg"
          alt="Whole tiramisu tres leches cake"
        />
      </div>

      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/veganchoco.jpg"
          alt="Vegan chocolate chip cookies"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/spidertres.jpg"
          alt="Halloween version tres leches cake"
        />
      </div>
    </div>
    <div
      class="grid gap-4"
      data-aos="fade"
      data-aos-duration="1000"
      data-aos-delay="500"
      data-aos-anchor-placement="top-bottom"
    >
      <div>
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/outside-wall.jpg"
          alt="Outside wall portrait"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/matchatrestop.jpg"
          alt="Matcha version tres leches cake"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/singleflan.jpg"
          alt="Mexican flan on plate"
        />
      </div>

      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/quesadilla.jpg"
          alt="Mexican quesadilla on platter"
        />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="500"
        data-aos-anchor-placement="top-bottom"
      >
        <img
          class="h-auto max-w-full rounded-md"
          src="assets/gallery-page/chocotres.jpg"
          alt="Chocolate version tres leches cake"
        />
      </div>
    </div>
  </div>
  <div class="w-full text-center mb-8">
    <button class="gallery-home-btn" routerLink="">
      {{ "navbar.HOME" | translate }}
    </button>
  </div>
</section>
}
